body{
    background-color: #faf0ca;
    padding: 0;
    box-sizing: border-box;   
    margin: 0%; 
}
nav{
    background-color: #0d3b66;
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    margin: 0%;
    border: solid 1px #0d3b66; 
    z-index: 4;
}
nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0%;
}
nav ul li{
    display: inline-block;
    margin: 4px;
    margin-top: 25px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 26px;
    color: #ffffff;
}
nav ul li a:hover{
    color: #000;
    background-color: #f4d35e;
}
nav li img{
    clear: left; 
    position: absolute;
    z-index: 8;
    height: 50px;
    width: 50px;
    top: 8px; 
}
footer{
    height: 90px;
    width: 100%;
    background-color: #b0b3be;
    position: absolute;
    margin-top: -2px;
}
footer li{
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    margin: 7px 30px;
    left: 34%;
}